html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: Roboto-M;
    src: url(/bt-giuaky/font/Roboto-M.ttf);
}


:root{
    --width:80%;
}

* {
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.flex.add {
    margin: 0;
    padding: 0;
}


body {
    background-color: #f6f6f6;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

/* phần dùng chung cho cả trang web*/

header.flex {
    justify-content: space-between;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #1C3879;
    cursor: pointer;
}

a:hover {
    color: red;
}

body {
    font-size: 17px;
}

div.flex {
    margin: auto;
}


/*phần nav đầu tiên của body*/

nav {
    background-color: #F7E2E2;
    height: 45px;
    color: #180A0A;
}

nav.flex div.flex {
    margin: auto;
}

nav.flex div.flex ul li {
    margin-left: 20px;
}

nav.flex div.flex ul li a:hover {
    color: red;
}

/*Phần header cho market*/
header {
    background-color:#f1e7e7;
    font-size: 18px;
    position:relative;
}

header > div > img {
    width: 150px;
    top:50%;
    transform: translateY(-50%);
    position:absolute;
    left: 20px;
}

div.find > input{
    width:500px;
    font-size:20px;
}

.find > input{
    border-radius: 15px 15px 15px 15px;
    padding: 10px 10px;
    border: 1px dotted white;
}

ul.menu li {
    
    border: 1px solid beige;
    background-color: beige;
    border-radius: 15px;
    margin: 3px;
}

ul.menu li a {
    display: block;
    padding:10px;
}

ul.menu li a:hover {
    background-color: darkblue;
    color:white;
    border-radius: 15px;
    
}

/*Phần banner*/

div {
    display: block;
}

.banner {
    height: 210px;

}

.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

.subbanner {
    background-image: url(/bt-giuaky/imgs/cskh/background.jpg);
    background-color: #4d876a;
    height: 210px;
    padding-top: 40px;
}

div.subbanner h1 {
    text-align: center;
    color: white;
    font-size: 24px !important;
    margin: 0 0 15px;
}

div.input {
    text-align: center !important;
}

.input input {
    height: 45px;
    width: 700px;
    border-radius: 30px;
    border-width: 1.5px;
    padding: 5px 10px;
    font-size: 16px !important;
}

.input button {
    cursor: pointer;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border-width: 1.5px;
}

.flex-center {
    display: flex;
    text-align: center;
}
.contact {
    height: 28px;
    width: 700px;
    margin-top: 8px;
}