:root{
    --width:80%;
}

* {
    box-sizing: border-box;
}

.flex {
    display: flex;
}

body {
    background-color: #f6f6f6;
}

/* phần dùng chung cho cả trang web*/

header.flex {
    justify-content: space-between;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    font-size: 17px;
}

div.flex {
    margin: auto;
}


/*phần nav đầu tiên của body*/

nav {
    background-color: #F7E2E2;
    height: 45px;
    color: #180A0A;
}

nav.flex div.flex {
    margin: auto;
}

nav.flex div.flex ul li {
    margin-left: 20px;
}

nav.flex div.flex ul li a:hover {
    color: red;
}

/*Phần header cho market*/
header {
    background-color:#f1e7e7;
    font-size: 18px;
    position:relative;
}

header > div > img {
    width: 150px;
    top:50%;
    transform: translateY(-50%);
    position:absolute;
    left: 20px;
}

div.find > input{
    width:500px;
    font-size:20px;
}

.find > input{
    border-radius: 15px 15px 15px 15px;
    padding: 10px 10px;
    border: 1px dotted white;
}

ul.menu li {
    
    border: 1px solid beige;
    background-color: beige;
    border-radius: 15px;
    margin: 3px;
}

ul.menu li a {
    display: block;
    padding:10px;
}

ul.menu li a:hover {
    background-color: darkblue;
    color:white;
    border-radius: 15px;
    
}

/*Phần bỏ trống 2 bên màn hình*/
.ads div {
    background-color: #f6f6f6;
    color: #180A0A;
    font-size: 2rem;
    text-align:center;
    padding: 10rem 0;
    margin: 0;
    width: calc((100% - var(--width))/2 - 2%);
    position: fixed;
}

.ads > div:first-child {
    left: 1%;
}

.ads > div:last-child {
    right: 1%;
}

/*phần cố định bên phải, thẻ mua hàng, link đăng ký*/

/*Div giới thiệu cửa hàng tạp hóa*/

.container {
    width: var(--width);
    margin: 0 auto;
  }

.left {
    padding-top: 15px;
    justify-content: space-between;
}

div.title-box div.flex {
    margin-top: 5px;
}

div.title-box {
    background-color: #fff;
    border: transparent;
    border-radius: 10px;
    width: 800px;
    position: relative;
}

div.flex h1.subtitle {
    margin: 10px 0;
}

div.subtitle {
    font-size: 24px;
    font-weight: 700;   
}

section div.flex img {
    width: 200px;
    padding:0;
}

div.store {
    margin: 5px 0;
    border: 1px solid #000;
    font-size: 20px;
    color: #000 !important;
    margin-right: 75%;
    border-radius: 10px;
    padding: 5px 0;
}

div.address span, div.address
{
    margin:10px 10px !important;
}

span.button-store {
    margin-left: auto !important;
}

/*Đơn hàng của bạn*/

